spring:
  autoconfigure:
    exclude: org.springframework.boot.security.autoconfigure.UserDetailsServiceAutoConfiguration

  datasource:
    url: jdbc:h2:mem:localdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=FALSE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create 
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        globally_quoted_identifiers: false
        auto_quote_keyword: true
        format_sql: true
    generate-ddl: true

  h2:
    console:
      enabled: true
      path: /h2-console

admin:
  password-hash: ${ADMIN_PASSWORD_HASH}

jwt:
  secret: ${JWT_SECRET}
  expires-seconds: 3600
  issuer: bd-home

server:
  port: 8080